#meme-image-container {
  position: relative;
  border: 1px solid black;
  background-color: white;
  width: 400px;
  height: 400px;
  background-size: cover;
}
#meme-text {
  position: absolute;
  color: white;
  font-size: 30px;
  text-shadow: black 5px 5px 5px;
}
#meme-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}